.cart-icon {
  display: flex;
  position: relative;
  justify-content: end;
  cursor: pointer;
  width: 100%;

  .cart-container {
    display: flex;
    padding: 10px 20px;
    border-radius: 24px;
    background: unset;
    border: 1px solid black;
    align-items: center;
    position: relative;

    .cart-text{
        font-weight: 300;
    }

    .shopping-icon {
      width: 24px;
      height: 24px;
      padding-left: 10px;
    }

    .items-count{
        position: absolute;
        top: 4px;
        right: 14px;
        z-index: 1;
        display: block;
        border-radius: 50%;
        font-size: 9px;
        color: white;
        padding: 2px 6px;
        background-color: rgb(45, 173, 88);
    }
  }

 
}
