.collection-name {
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  display: block;
  font-size: 25px;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    margin-left: 10px;
  }
}

.plant-preview {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  height: 300px;

  @media screen and (max-width: 800px) {
    height: auto;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }
}
